<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>   
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="access.css">    
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'> 
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        overflow: auto;
      }

    </style>


  </head>
  
<body style="margin:0;">

  <header id="header">
      <a href="/" class="brand" id="in" style="text-decoration:none" tabindex="13">
        <span>project: cinta</span>
      </a>
    <div id="moreInfo"> 
      <a href="/" class="link">Home</a>
    </div>     
  </header>

  <div class="heading">
    <span class="pageLabel">What Project: Cinta is</span>
  </div>  

  <p class="method intro">A network of high school students from across the country on which students can...</p>
  <div class="method">
    <h1>Create a profile:</h1>
    <img class="aboutPic" src="profile.png"/>
  </div>    
  <div class="method">
    <h1>Share ideas:</h1>
    <img class="aboutPic" src="ideas.png"/>
  </div>    
  <div class="method">
    <h1>Form teams and track progress with goals:</h1>
    <img class="aboutPic" src="goals.png"/>
  </div>        
 
  <script src = "landing.js"></script>
</body>
</html>