<!DOCTYPE html>
<html>
  <head>
    <title>innovate</title>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="new.css">    
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js" type="text/javascript"></script>
    <script src="/include/ejs_production.js" type="text/javascript"></script>
    <script src="/include/jquery.ejs.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        overflow: auto;
      }

    </style>


  </head>
  
<body style="margin:0;min-width: 1100px;">
  <header id="header">
      <a href="/" class="brand" id="in" style="text-decoration:none" tabindex="12">innovate</a>

      <ul class="header_list">
        <li><a href="#account" id="acct" tabindex="11">Account</a></li>
        <li><a href="/profile" id="prof" tabindex="10">Profile</a></li>  
        <li><a href="/pitches" id="pitch" tabindex="9">Pitches</a></li>
      </ul>
  </header>

  <div id="heading">
    <span id="pageLabel">Create a New Project</span>
  </div>

  <div id="basicInfo">

  <!--BEGIN FORM-->

    <form id="basicForm">
      <label>Give Your Project a Name</label><br>
      <input type="text" name="projectName" class="input" placeholder="Name of project" tabindex="1"><br><br><br>
      <label>Tags</label><br>
      <textarea rows="5" cols="50" name="projectTags" placeholder="List tags here (i.e. #nonprofit #computers #fun ...)" tabindex="2"></textarea><br><br><br>
      <label>Project Picture</label><br>
      <img id="preview" src="logo.png"><br>
      <input type="button" id="uploadPicture" class="buttonBlue" value="Upload a Picture" tabindex="3"><br><br><br>
      <input type="file" id="uploadPic" style="display:none;">
      <label>Attach a Link to Your Pitch on YouTube</label><br>
      <input type="url" id="pitchLink" class="input" name="projectPitchLink" placeholder="Link to pitch on YouTube" tabindex="4"><br>
      <span id="makeSure">Make sure your video isn't listed as "Private" or else no one will be able to watch it!</span>  
  </div>

  <div id="otherInfo">
      <label>How Many Teammates are you looking for?</label><br>
      <input type="number" min="1" max="4" class="input" placeholder="Number of teammates (max of 4)" name="projectTeam" tabindex="5"><br><br><br>
      <label>What Skills are You Missing?</label><br>
      <textarea rows="5" cols="50" placeholder="List skills here (i.e. coding, public speaking, anything, ...)" name="projectSkills" tabindex="6"></textarea><br><br><br>
      <label>Give us a Rough Description of Your Project and Goals</label><br>
      <textarea rows="20" cols="80" placeholder="Description of Project" name="projectDescription" tabindex="7"></textarea><br><br><br>  
      <input type="submit" id="formSubmit" class="button" value="Start Project" tabindex="8">  
    </form>

    <!--END FORM-->

  </div>  









<!--SCRIPT-->


<!--Picture Preview-->
<script type="text/javascript">      
function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
        $('#preview').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#uploadPic").change(function(){
  readURL(this);
});
</script>
<!--End Picture Preview-->
<!--Project Pic Upload Dialog-->    
<script>
$('#uploadPicture').click(function() {
  $('#uploadPic').click();
});
</script>
<!--END Project Pic Upload Dialog-->


<!--Create Embed Link from URL PROBABLY WANT TO PUT THIS ON PROFILE PAGE-->
<!--STEP ONE (REGEX) GET YOUTUBE ID FROM URL-->

<!--
var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
var match = url.match(regExp);
if (match&&match[2].length==11){
    return match[2];
}else{
    //error
}
-->

<!--STEP TWO EMBED USING GOOGLE API-->

<!--
<script>
/*Simple player embed*/

// The video to load.
var videoID = "ylLzyHk54Z0" /* MATCH[2] from Above ^^ */

// Lets Flash from another domain call JavaScript
var params = { allowScriptAccess: "always" };

// The element id of the Flash embed
var atts = { id: "ytPlayer" };

// All of the magic handled by SWFObject (http://code.google.com/p/swfobject/)
swfobject.embedSWF("http://www.youtube.com/v/" + videoID + "?version=3&enablejsapi=1&playerapiid=player1", 
                   "videoDiv", "480", "295", "9", null, null, params, atts);

</script>
-->

<!--END Create Embed Link from URL-->



<!--END SCRIPT--> 


</body>
</html>  