html{
    background: #FFFFFF no-repeat center bottom fixed;
  /*  background-image: url('tem_home_BG3.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
*/

    /*background-color: rgba(0,0,0,.7);*/
}

#header{
	background-color: rgba(255,255,255,1);
}
.infoLink{
	padding-right: 80px;
	padding-left: 80px;
}

.intro{
	font-size: 25px;
}

#moreInfo{
	margin-top: 7%;
	float: right;
	margin-right: 120px;
}

.method{
	margin-top: 3%;
	margin-left: 2%;
}

.explain{
	font-size: 20px;
}

.aboutPic{
	border: 1px solid rgba(0,0,0,.4);
	margin-left: 5%;
	max-width: 900px;
	max-height: 900px;
}