html{
    background: #FFFFFF no-repeat center bottom fixed;
  /*  background-image: url('tem_home_BG3.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
*/

    /*background-color: rgba(0,0,0,.7);*/
}

#cinta_stuff{
	text-align: center;
	margin: auto;
	margin-top: -50px;
}

#cinta_label{
	font-size: 70px;
    font-family: 'Cedarville Cursive', cursive;  	
}

#cinta_desc{
	line-height: 40px;
	margin: auto;
	margin-top: -40px;
	font-size: 30px;
	width: 50%;
}

#access_form{
	text-align: center;
	margin: auto;
}

#access_button{
	margin: auto;
}

#contact{
	text-align: center;
	margin: auto;
}

.contactLink{
	width: 20%;
}

.infoLink{
	padding-right: 80px;
	padding-left: 80px;
}

#moreInfo{
	margin-top: 5%;
	text-align: center;
}
/*
#skip{
	float: right;
	margin-right: 2%;
	text-decoration: none;
	color: #0084B4;
	z-index: 10000;
}

#skip:hover{
	text-decoration: underline; 
}

#allSteps{
	margin: auto;
	text-align: center;
	margin-top: 30px;
}

#welcome{
	margin-top: 0px;
	font-size: 80px;
	color: #FFFFFF;
    font-family: 'Cedarville Cursive', cursive;  	
}


.lightbulb{
	margin-top: -150px;
}

#cintaLabel{
	font-size: 70px;
	margin-top: -150px;
    font-family: 'Cedarville Cursive', cursive;  	
}

#proceed{
	margin: auto;
	margin-top: 5%;
	text-decoration: none;
	font-size: 20px;
	padding: 5px;
	display: none;
}

*/

