#pitch{
    color: #00C957;
}

#allPitches{
	margin: auto;
	width: 100%;
	margin-top: 3%;
}

#pitchTable{
	display: inline-block;
	color: rgba(0,0,0,.8);
	height: 600px;
	width: 70%;
	min-width: 940px;
	margin-left: 2%;
	overflow-y: auto;
	overflow-x: auto; 	
	float: left;
	border-top: 1px groove rgba(0,0,0,.3);	
	border-left: 1px groove rgba(0,0,0,.3);
	border-right: 1px groove rgba(0,0,0,.3);
	border-bottom: 1px groove rgba(0,0,0,.3);
}


.pitchRow{
	display: inline-block;
	width: 100%;
	border-bottom: 1px groove rgba(0,0,0,.3);
}

.thePitch{
	float: left;
	min-width: 32%;
	max-width: 352px;
	padding: 5px;
	border-right: 1px groove rgba(0,0,0,.3);
}

iframe{
	border: none ;
}

.necInfo{
	text-align: left;
}
.projectName{
	text-decoration: none;
	color: rgba(0,0,0,.8);
	word-wrap: break-word;
	font-size: 15px;
	font-weight: bold;
}

.projectName:hover{
	cursor: pointer;
	text-decoration: underline;
}

.personName{
	text-decoration: none;
	color: rgba(0,0,0,.8);
	word-wrap: break-word;
	font-size: 12px;
	margin-left: 1%;
}

.personName:hover{
	cursor: pointer;
	text-decoration: underline; 
}

.request{

}

#commonTags{
	width: 10%;
	float: left;
	margin-left: 2%;
	text-align: left;
}
#commonLabel{
	font-size: 12px;
}
#commonList{
	margin: auto;
	list-style-type: none;
	margin-left: -25px;
}

.tag{
	color: #0084B4;
}

.tag:hover{
	cursor: pointer;
	text-decoration: underline;
}